In [ ]:
# Load dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

## Nasa Mars News

In [ ]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Vist URL
url = "https://redplanetscience.com/"
browser.visit(url)

In [ ]:
# Convert the browser html to a soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Obtain New Title
news_title = soup.find_all(class_="content_title")[0].get_text()
news_title

In [ ]:
# Obtain news paragraph
news_para = soup.find_all(class_="article_teaser_body")[0].get_text()
news_para

In [ ]:
# Quit browser
#browser.quit()

## JPL Mars Spaces Images

In [8]:
# Vist URL
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [9]:
# Convert the browser html to a soup object
mars_imgaes = browser.html
soup = BeautifulSoup(mars_imgaes, 'html.parser')

In [10]:
# assign variable to URL
featured_image_url = url + soup.find('a', class_='showimg fancybox-thumbs')['href']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

## Mars Facts

In [26]:
# use Pandas to scrape the table containing facts about the planet  
mars_df = pd.read_html("https://galaxyfacts-mars.com/")[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [27]:
# Rename columns and remove first row
mars_df = mars_df.rename(columns={0:"Description", 1:"Mars", 1:"Mars", 2:"Earth"})
mars_df = mars_df.drop(mars_df.index[0])
mars_df

          Description             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [23]:
# Set Description as index
mars_df.set_index("Description", inplace=True)

In [24]:
mars_df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [25]:
# Use Pandas to convert the data to a HTML table string
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [188]:
# Vist URL
url = "https://marshemispheres.com/"
browser.visit(url)

In [189]:
# Convert the browser html to a soup object
hem = browser.html
soup = BeautifulSoup(hem, 'html.parser')

In [190]:
# find titles
title = soup.find_all('div', class_='description')

In [191]:
titles = []
# Being for loop to git titles
for title in title:
    titles.append(title.find('h3').text.strip())

In [192]:
titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']


## HEMIS

# Cerberus

In [193]:
# create empty list
hemispheres = []

In [194]:
# create URL variables
base_url = "https://marshemispheres.com/"
url = "https://marshemispheres.com/cerberus.html"

In [195]:
# visit URL
browser.visit(url)

In [196]:
hem = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(hem, 'html.parser')
# Retrieve all elements that contain book information
Cerberus = base_url + soup.find('div', class_='downloads').a['href']
Cerberus

hemispheres.append(Cerberus)
Cerberus

'https://marshemispheres.com/images/full.jpg'

# schiaparelli

In [197]:
base_url = "https://marshemispheres.com/"
url = "https://marshemispheres.com/schiaparelli.html"

In [198]:
browser.visit(url)

hem = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(hem, 'html.parser')
# Retrieve all elements that contain book information
schiaparelli = base_url + soup.find('div', class_='downloads').a['href']
schiaparelli

hemispheres.append(schiaparelli)

# syrtis

In [199]:
base_url = "https://marshemispheres.com/"
url = "https://marshemispheres.com/syrtis.html"

In [200]:
browser.visit(url)

hem = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(hem, 'html.parser')
# Retrieve all elements that contain book information
syrtis = base_url + soup.find('div', class_='downloads').a['href']
syrtis

hemispheres.append(syrtis)
syrtis

'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'

# Valles

In [201]:
base_url = "https://marshemispheres.com/"
url = "https://marshemispheres.com/valles.html"

In [202]:
browser.visit(url)

hem = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(hem, 'html.parser')
# Retrieve all elements that contain book information
valles = base_url + soup.find('div', class_='downloads').a['href']
valles

hemispheres.append(valles)
valles

'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'

In [203]:
hemispheres

['https://marshemispheres.com/images/full.jpg',
 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg']

In [206]:
hem_list = [
    {"Title":titles[0], "img_url":hemispheres[0]},
    {"Title":titles[1], "img_url":hemispheres[1]},
    {"Title":titles[2], "img_url":hemispheres[2]},
    {"Title":titles[3], "img_url":hemispheres[3]}
]
hem_list

[{'Title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

# STEP 2

In [100]:
# url + headers

'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'

In [155]:
# # Iterate through all pages

# lst = []

# for x in range(0,4):
#     # HTML object
#     hem = browser.html
#     # Parse HTML with Beautiful Soup
#     soup = BeautifulSoup(hem, 'html.parser')
#     # Retrieve all elements that contain book information
#     links = soup.find_all('div', class_='item')[x].a.img['src']
       
    
#     # Iterate through each book
#     for link in links:
#         # Use Beautiful Soup's find() method to navigate and retrieve attributes
#         h3 = article.find('h3')
#         link = h3.find('a')
#         href = link['href']
#         title = link['title']
#         print('-----------')
#         print(title)
#         print('http://books.toscrape.com/' + href)

#     # Click the 'Next' button on each page
#     try:
#         browser.links.find_by_partial_text('next').click()
          
#     except:
#         print("Scraping Complete")
        
#         url + headers

NameError: name 'h3' is not defined

In [148]:
lst

['images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png',
 'images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png',
 'images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png',
 'images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png']